body{
    background-image: url(../images/burger.jpg);
    background-size: cover;
    color: white;

}
 .navo{
     background-color: #ff0000 !important;
     color: white !important;
     font-weight: bold !important;
 }

.add{
    margin-top: 0 !important;
    color: white !important;
    width: 100% !important;
    height:  100% !important;
    padding-left: 35vw !important;
    padding-top: 30vh !important;
    font-weight: bolder !important;
    font-size: 80px ;
}
.all{
    height:100vh !important;
    background-color: rgba(0,0,0,0.4);
}
