body{
   background-color: black !important;
   color: white !important
}
.navo{
    background-color: #ff0000 !important;
    color: white !important;
    font-weight: bold !important;
}
.butt{
    background-color: #ff0000 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 10px !important;
}
.colo{
    color: white;
    font-weight: bold !important;
}
.latestOrder{
    background-color:#ff0000 !important ;
    color:  white !important;
    border-radius: 20px !important;
    width:40% !important ;
}
.frindActivity{
    background-color:#ff0000 !important ;
    color:  white !important;
    border-radius: 20px !important;
    width:40% !important ;
}
.frind{
    width: 80% !important;

}
.frinimg{
    border-radius:50% !important ;
    width: 70px !important;
    height: 50px !important;
}
.detail{
    color: #ff0000 !important;
    width:80% !important ;
    margin-top: 6rem !important;
}
.log{
    color: black !important;
}
.social{
    width: 100% !important;
    margin-left: 15% !important;
    border: 1px solid #ff0000 !important;
    border-radius: 10px;
    color: #ff0000 !important;
    font-weight: bolder !important;
}
.image{
    
    margin-top: 5rem !important;
}
.eat{
    width:90% !important ;
    border-radius: 50% !important;

}
.cool{
    border-radius: 10px !important;
    padding: 2rem !important;
}