body{
    background-image: url(../images/22.jpg);
    background-size: cover;
   color: white !important
}
.all{
    height:100vh !important;
    background-color: rgba(0,0,0,0.6);
}
.navo{
    background-color: #f71414 !important;
    color: white !important;
    font-weight: bold !important;
}
.butt{
    background-color: #f71414 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 10px !important;
}
.colo{
    color: white;
    font-weight: bold !important;
}
.latestOrder{
    color: black !important;
    border-radius: 20px !important;
    width:40% !important ;
}
.textbody{
    color: black;
}
.home{
    color:#f71414 !important ;
}


.frindActivity{
   color:#f71414 !important ;
    border-radius: 20px !important;
    width:40% !important ;
}
.frind{
    width: 80% !important;

}
.frinimg{
    border-radius:50% !important ;
    width: 70px !important;
    height: 50px !important;
}
.detail{
    color: #f71414 !important;
    width:80% !important ;
    margin-top: 6rem !important;
}
.log{
    color: black !important;
}
.social{
    width: 100% !important;
    margin-left: 15% !important;
    border: 1px solid #f71414 !important;
    border-radius: 10px;
    color: #f71414 !important;
    font-weight: bolder !important;
}
.image{
    
    margin-top: 5rem !important;
}
.eat{
    width:90% !important ;
    border-radius: 50% !important;

}
.cool{
    border-radius: 10px !important;
    padding: 2rem !important;
    border-radius: 20px !important;
    border: #f71414 1px solid;
    background-color: rgba(0,0,0,0.7);
}
.freindlist{
    border-radius: 20px !important;
    border: #f71414 1px solid;
    background-color: rgba(0,0,0,0.7);
}